@font-face {
    font-family: 'Upheaval';
    src: url('./fonts/upheavtt.ttf') format('truetype');
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
}